<% include partials/header %>
<link href="/css/admin.css" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Rokkitt" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/css/datatable.css">

  <script src="js/datatable.js"></script>

<script>
$(document).ready(function(){
	 $("#ustable").dataTable({
        "sPaginationType": "full_numbers",
        "bJQueryUI": true
    });
})
</script>
<script type="text/javascript" charset="utf8" src="https://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.0/jquery.dataTables.min.js"></script><script type="text/javascript">
</script>
</head>

<div id="addpadding">

<table class="currentusers" id="ustable">
    <thead>
        <tr>
         <th>Full Name</th>
		<th>Email address</th>
		<th>Phone Number</th>
		<th>Website</th>
		<th>User Type</th>
		<th>Delete</th>
        </tr>
    </thead>

    <tbody>
<% users.forEach(function(users){%>
	<tr id="<%= users._id %>">
		<td><%= users.firstname %> <%= users.lastname %></td>
		<td><%= users.email %></td>
		<td style="text-align: center;"><%= users.phone %></td>
		<td style="text-align: center;"><a href="<%= users.website %>" target="_blank">Click me</a></td>
		<td style="text-align: center;"><%= users.type %></td>
		<td style="text-align: center;"><a class="deleteUser" data-id="<%= users._id %>" href="#"><i class="material-icons" style="color: red">delete_forever</i></a></td>
	</tr>
<%}) %>
    </tbody>        
</table>
</div>
</body>
</html>